<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]="listFilter" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4>Filtered by: {{ listFilter }}</h4>
      </div>
    </div>
    <div class="table-responsive">
      <table
        class="table table-hover table-borderless table-striped"
        *ngIf="products.length"
      >
        <thead class="border-bottom">
          <tr>
            <th>
              <button class="btn btn-primary" (click)="toggleImages()">
                {{ descriptiveButtonText() }}
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredProducts">
            <td>
              <img
                *ngIf="visible"
                [src]="product.imageUrl"
                [title]="product.productName"
                [style.width.px]="imageWidth"
                [style.margin.px]="imageMargin"
              />
            </td>
            <td>
              <a [routerLink]="['/products', product.productId]">
                {{ product.productName }}
              </a>
            </td>
            <td>
              {{ product.productCode | uppercase | convertToSpaces: "-" }}
            </td>
            <td>{{ product.releaseDate }}</td>
            <td>{{ product.price | currency: "USD":"symbol":"2.2-2" }}</td>
            <td>
              <pm-star
                [rating]="product.starRating"
                (ratingClicked)="onStarClick($event)"
              ></pm-star>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
