<div class="card">
  <div class="card-header">
    {{ pageTitle + ": " + product?.productName }}
  </div>
  <div class="card-body" *ngIf="product">
    <div class="row">
      <div class="col-md-6">
        <table class="table table-borderless">
          <tr>
            <td>Name:</td>
            <td>
              {{ product.productName }}
            </td>
          </tr>
          <tr>
            <td>Code:</td>
            <td>
              {{ product.productCode | uppercase | convertToSpaces: "-" }}
            </td>
          </tr>
          <tr>
            <td>Description:</td>
            <td>
              {{ product.description }}
            </td>
          </tr>
          <tr>
            <td>Availability:</td>
            <td>
              {{ product.releaseDate }}
            </td>
          </tr>
          <tr>
            <td>Price:</td>
            <td>
              {{ product.price | currency: "USD":"symbol":"2.2-2" }}
            </td>
          </tr>
          <tr>
            <td>Star Rating:</td>
            <td>
              <pm-star [rating]="product.starRating"> </pm-star>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-6 d-flex justify-content-around">
        <img
          [src]="product.imageUrl"
          [style.width.px]="imageWidth"
          [style.margin.px]="imageMargin"
        />
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button
      class="btn btn-outline-secondary"
      style="width: 80px"
      (click)="onBack()"
    >
      <i class="fa fa-chevron-left"></i>
      Back
    </button>
  </div>
</div>
